@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  overflow-x: hidden; 
}
main {
  position: relative;
  z-index: 3; /* Treść strony nad SVG tłem */
}
/* HEADER BACKGROUND (LAB REQUIREMENT) */
.main-header-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 140px; /* lepsza wysokość */
  width: 100%;
  z-index: 0;
  overflow: hidden;
  pointer-events: none; /* NIE BLOKUJE PRZYCISKÓW */
}

.main-header-background svg {
  display: block;
  width: 100%;
  height: 100%;
}

