.main {
  max-width: 50rem;
  margin: 3rem auto;
  padding: 1rem;
  color: #cce7ff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.back {
  background: linear-gradient(90deg, #2a7bcf, #46a7ff);
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 999px;
  color: white;
  cursor: pointer;
  margin-bottom: 2rem;
  transition: 0.3s ease;
}

.back:hover {
  background: linear-gradient(90deg, #46a7ff, #6ecbff);
  box-shadow: 0 0 12px #46a7ffaa;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  background: linear-gradient(90deg, #2a7bcf, #46a7ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.category {
  font-size: 1.2rem;
  color: #9bd6ff;
  margin-bottom: 2rem;
}

.imageWrapper {
  position: relative; /* konieczne dla Image fill */
  width: 100%;        /* szerokość obrazka */
  height: 300px;      /* wysokość obrazka, możesz zmienić */
  margin-bottom: 1rem;
  border-radius: 10px;
  overflow: hidden;
}


.imageWrapper img {
  width: 100%;
  display: block;
}

.description {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #bfe9ff;
}
.subtitle {
  font-size: 1.5rem;
  margin: 1.5rem 0 0.5rem;
  color: #9bd6ff;
}

.instructions {
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: left;
  white-space: pre-wrap; /* zachowuje formatowanie z JSON */
  background: #1a2e45;
  padding: 1rem;
  border-radius: 0.5rem;
}
