.main-header-background {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 180px;    
  
  z-index: 0;
  pointer-events: none; 
}

.main-header-background svg {
  width: 100%;
  height: 100%;
  display: block;
}
