.slideshow {
  position: relative;
  width: 100%;
  max-width: 40rem;
  height: 25rem; /* wysokość slidera */
  margin: 2rem auto;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: #20215a;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  border-radius: 0.5rem;
}

.image.active {
  opacity: 1;
  z-index: 1;
}
